.wrapper-1
{
 background-image: url('../../images/covended/bg-hand.png');
 background-repeat:no-repeat;
 height:844px;
 position:relative;
}
.wrapper-1 a
{
 display:block;
}
.wrapper-1-logo
{
 width: 100%;
 text-align: center;
 padding-top: 25px;
 position:absolute;
}
.wrapper-1-content{
	position: fixed;
    left: 60px;
    top: 190px;
    z-index:1;
}
.wrapper-1-nav ul {
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
}
.wrapper-1-nav{
}
.wrapper-1-nav ul li{
      height:50px;
}
.wrapper-1-nav ul li a {
    text-decoration: none;
    color: #FF4102; 
    padding: 0px 0px;
    display:block;
    cursor: pointer;
    width: 185px;
}
 .wrapper-1-nav ul li span{
    width: 22px;
	height: 20px;
	float: right;
	background-color: #FF4102;
	text-align: center;
	display: none;
}
.wrapper-1-nav ul li a:visited {
    border-bottom: 1px solid white;
    transition: width 3s ease-in-out;
}
 
.wrapper-1-nav ul li a:hover, .wrapper-1-nav ul li .current {
    color: white;
    border-bottom: 1px solid white;
    transition: width 3s ease-in-out;
}
.wrapper-2{
    height: 690px;
    position: relative;
}
.text-info{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding-top: 30px;
 }
 .image-info-wrapper{
    position: absolute;
    top: 300px;
    height: 275px;
    overflow: hidden;
    left: 0;
    right: 0;
}
.image-info-wrapper div{
    position: relative;
    right: 0;
    left: 0;
    width: auto;
    text-align: center;
    height: auto;
}
.image-info-wrapper div h2{
    font-size: 50px;
    font-weight: normal;
    color: #ff4c00;
}
.text-info p{
    font-family: Gotham Light;
    font-size: 16px;
    color: #797979;
}
.active{
    display:block;
}
.wrapper-3
{
 background-image: url('../../images/covended/bg-ppl.png');
 background-repeat:no-repeat;
 height:714px;
 position:relative;
}
.wrapper-3-title{
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
}
.wrapper-3-title h2{
    color: #ff4c00;
    font-size: 50px;
    font-weight: normal;
}
.wrapper-3-1{
 top: 150px;
position: absolute;
width: 1000px;
margin: 0 auto;
left: 0;
right: 0;
}
.wrapper-3-1-left-text{
  width: 40%;
  float: left;
  text-align: right;
}
.wrapper-3-1-img{
    width: 10%;
float: left;
margin: 0px 40px 0px 40px;
padding-top: 55px;
}
.wrapper-3-1-right-text{
    width: 40%;
float: left;
text-align: left;
}
.wrapper-3-2{
 top: 420px;
position: absolute;
width: 1000px;
margin: 0 auto;
left: 0;
right: 0;
}
.wrapper-3-1 h3, .wrapper-3-2 h3{
  font-size: 23px;
  color:#f25204;
  font-weight: normal;
}
  .wrapper-3-1 p, .wrapper-3-2 p{
  font-size :14px;
  color:#ffffff;
}