.wrapper-1
{
 background-image: url('../../images/covended/bg-hand.png');
 background-size:contain;
 background-repeat:no-repeat;
 height:844px;
 position:relative;
}
.wrapper-1 a
{
 display:block;
}
.wrapper-1-logo
{
 width: 100%;
 text-align: center;
 padding-top: 25px;
 position:absolute;
}
.wrapper-1-content{
	position: fixed;
    left: 60px;
    top: 190px;
}
.wrapper-1-nav ul {
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
}
.wrapper-1-nav{
}
.wrapper-1-nav ul li{
      height:50px;
}
.wrapper-1-nav ul li a {
    text-decoration: none;
    color: #FF4102; 
    padding: 0px 0px;
    display:block;
    cursor: pointer;
    width: 185px;
}
 .wrapper-1-nav ul li span{
    width: 22px;
	height: 20px;
	float: right;
	background-color: #FF4102;
	text-align: center;
	display: none;
}
.wrapper-1-nav ul li a:visited {
    border-bottom: 1px solid white;
    transition: width 3s ease-in-out;
}
 
.wrapper-1-nav ul li a:hover, .wrapper-1-nav ul li .current {
    color: white;
    border-bottom: 1px solid white;
    transition: width 3s ease-in-out;
}
